@media only screen and (max-width: 1440px) {
    .App .content .driver-profile__area .driver_row .login .login-title {
        width: 30rem;
    }

    .App .content .driver-profile__area .driver_row .login .login-description {
        width: 30rem;
    }
}

@media only screen and (max-width: 1200px) {

    .App .content .driver-profile__area .driver_row .driver_profile {
        padding: 0 5rem !important;
    }

    .App .content .driver-profile__area .driver_row .login .login-title {
        width: 15rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .App .content .driver-profile__area .driver_row .login .login-description {
        font-weight: 400;
        width: 15rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .App .content .driver-profile__area .language_row .language-select {
        width: 70vw !important;
    }

    .App .content .driver-profile__area .error-area .error {
        width: 40vw !important;
    }
}

@media only screen and (max-width: 970px) {
    .App .content .driver-profile__area .driver_row.auth .driver_profile .idn {
        width: 70vw !important;
        height: 30vh;
        overflow: hidden;
        order: 2;
    }
}

@media only screen and (max-width: 800px) {
    .App .content .driver-profile__area .driver_row .driver_profile {
        padding: 0 2.5rem !important;
    }

    .App .content .driver-profile__area .driver_row .login .login-title {
        width: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .App .content .driver-profile__area .driver_row .login .login-description {
        font-weight: 300;
        width: 10rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .App .content .driver-profile__area .driver_row .login .google {
        width: 80% !important;
        padding: 0.5rem !important;
        display: flex;
        column-gap: 0.5rem;
    }

    .App .content .driver-profile__area .language_row .language-select {
        width: 90vw !important;
    }

    .App .content .driver-profile__area .error-area .error {
        width: 50vw !important;
    }
}

@media only screen and (max-width: 650px) {
    .App .content .driver-profile__area .driver_row {
        grid-column: 1/-1 !important;
        grid-row: 1/5 !important;
        padding: 0 1.5rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem auto;
    }

    .App .content .driver-profile__area .driver_row .login {
        margin: 3rem auto;
    }

    .App .content .driver-profile__area .driver_row .driver_profile {
        padding: 3rem 2.5rem !important;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile {
        padding: 0 2.5rem !important;
    }

    .App .content .driver-profile__area .driver_row .login .login-title {
        font-size: 26px !important;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        text-align: center !important;
    }

    .App .content .driver-profile__area .driver_row .login .login-description {
        font-size: 20px !important;
        width: 100%;
        flex-wrap: nowrap;
        text-align: center !important;
    }

    .App .content .driver-profile__area .driver_row .login .google {
        width: 100% !important;
    }

    .App .content .driver-profile__area .language_row .language-select {
        width: 100vw !important;
    }

    .App .content .driver-profile__area .language_row  .language_popup {
        top: -0.5rem !important;
    }

    .App .content .driver-profile__area .error-area .error {
        width: 60vw !important;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile .driver_image {
        width: 150px;
    }

    .App .content .driver-profile__area .driver_row .driver_profile .year {
        word-spacing: 0 !important;
        letter-spacing: 0 !important;
        padding-left: 0 !important;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile .idn .idn-title {
        font-size: 18px;
        display: flex;
        justify-content: center;
    }
    
    .App .content .driver-profile__area .driver_row.auth .driver_profile .idn .idn-store {
        width: 100% !important;
        justify-content: center !important;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile .idn .idn-store img {
        width: 130px;
        height: 40px;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 430px) {
    .App .content .driver-profile__area .driver_row .driver_profile {
        padding: 3rem 1rem !important;
    }

    .App .content .driver-profile__area .driver_row .login .login-title {
        font-size: 22px !important;
    }

    .App .content .driver-profile__area .driver_row .login .login-description {
        font-size: 17px !important;
    }

    .App .content .driver-profile__area .error-area .error {
        width: 70vw !important;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile .idn .idn-title {
        font-size: 16px;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile .idn .idn-store img {
        width: 120px;
        height: 40px;
    }
}

@media only screen and (max-width: 360px) {
    .App .content .driver-profile__area .driver_row .driver_profile {
        padding: 3rem 0.5rem !important;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile {
       width: 95% !important;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile {
        margin: 0.5rem auto !important;
    }

    .App .content .driver-profile__area .driver_row .login .login-title {
        font-size: 18px !important;
    }

    .App .content .driver-profile__area .driver_row .login .login-description {
        font-size: 14px !important;
    }

    .App .content .driver-profile__area .error-area .error {
        width: 80vw !important;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile .idn .idn-title {
        font-size: 13.5px;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile .idn .idn-store img {
        width: 100px;
        height: 35px;
    }

    .App .content .driver-profile__area .driver_row.auth .driver_profile .year {
        font-size: 18px !important;
    }
}

@media only screen and (max-height: 770px) {
    .App .content .driver-profile__area .driver_row .driver_profile .driver_image {
        width: 45% !important;
        height: auto !important;
      }
}

@media only screen and (max-height: 650px) {
    .App .content .driver-profile__area .driver_row .driver_profile .driver_image {
        width: 35% !important;
      }
}

@media only screen and (max-height: 550px) {
    .App .content .driver-profile__area .driver_row .driver_profile .driver_image {
        width: 25% !important;
    }
}